{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="{% static 'images/Banner1.png' %}" class="d-block w-100 img-fluid c-img" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'images/Banner2.png' %}" class="d-block w-100 img-fluid c-img" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'images/Banner3.png' %}" class="d-block w-100 img-fluid c-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <!-- Featured Start -->
 <div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 40px;">
            <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 40px;">
              <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
              <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 40px;">
              <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">7-Day Return</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 40px;">
              <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
          </div>
      </div>
  </div>
</div>
<!-- Featured End -->

    <div class="container-lg my-5">
        <div class="row gy-4" id="product_wrapper">
            {% for Product in products %}
->
            <div class="col-md-4">
                <div class="card h-100 box-element product">
                    <img class="card-img-top" src="{{Product.imageURL}}" class="img-fluid">
                    <div class="card-body">
                      <h4 class="card-title">{{Product.name}}</h4>
                      <hr>
                      <button data-product={{Product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
                      <a class="btn btn-outline-success" href="#">View</a>
                      <h4 style="display: inline-block;float: right;">BDT {{Product.price|floatformat:2}} ৳</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    



{% endblock content %}



{% block script %}

    
<script>
  // $(document).ready(function() {
    debugger;
      $.ajax({
          url: '/fetch-products/',  // URL of your Django view
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            debugger;
              // Handle the data received from the server
              var products = data.products;
  
              // Do something with the products (e.g., display them on the page)
              for (var i = 0; i < products.length; i++) {
                  var product = products[i];
                  console.log('Product Name: ' + product.name);
                  console.log('Product Price: ' + product.price);
              }
          },
          error: function(error) {
              console.error('Error:', error);
          }
      });
  // });
  </script>
{% endblock script %}
